body{
    background-color: rgb(25, 25, 107);
}

h1{
    color: aliceblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

p, nav{
    text-align: center;
    color: rgb(229, 246, 246);
    font-size: 1em;
}